.min-container {
  max-width: 700px;
  margin: auto;
}

#header {
  background-color: #fafafc;
  /* border-bottom: 1px solid #ddd; */
}

nav {
  background-color: transparent;
  /* backdrop-filter: blur(10px); */
  background-color: #fafafc;
}

#header {
  padding-top: 100px;
}

.justify {
  text-align: justify;
  font-size: 18px;
}

@media screen and (max-width: 720px) {
  .min-container {
    padding: 20px;
    font-size: 16px;
  }
}

@media screen and (max-width: 750px) {
  .nav__links {
    display: none !important;
  }

  .hamburger {
    display: block !important;
  }

  .nav-wrapper {
    padding: 0 30px !important;
  }

  #nav {
    padding: 20px 0;
  }

  .text-uppercase {
    padding-bottom: 0px !important;
  }
}

.nav-wrapper {
  padding: 0 200px;
}

.text-uppercase {
  padding-bottom: 20px;
}